.vscode/
*.old
*.bak
*.tmp
*.pro.user
*.pro.user.*
*.qm
*.spec.*
*.autosave
build/
RPMS/
*.o
*.so
Makefile
moc_*
*.list
installroot/
application/harbour-batterybuddy
service/harbour-batterybuddy-daemon
