# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2020-2026 Matti Viljanen <matti.viljanen@kapsi.fi>
# SPDX-FileCopyrightText: 2020 olf <Olf0@users.noreply.github.com>

[Unit]
Description=Battery Buddy file permission daemon

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/share/harbour-batterybuddy/service/permissions.sh enable
RemainAfterExit=true
ExecStop=/bin/bash /usr/share/harbour-batterybuddy/service/permissions.sh disable
StandardOutput=journal

[Install]
WantedBy=multi-user.target
